*{
margin:0;padding:0px;

}
body{
background-color:#4DA8BA;
font-family:Helvetica,Arial,sans_serif;
}
.main{
position:relative;
transform:translate(13%,15%);
width:80%;
height:80%;
background-color:white;
}
.header ul{
position:relative;
list-style-type:none;
display:flex;
height:12%;
}
.header ul li{
padding:20px;
}
.header ul li a{
text-decoration:none;
font-size:11px;
color:#707070;
}
ul li::first_child{
color:black;
}
.boom{
height:auto;
}
.bo{
width:70%;
height:70%;
background-color:#266150;
}
img{
position:relative;
width:40%;
max-height:40%;
float:right;
color:#266150;
}
.o{
width:70%;
position:relative;
left:20%;
top:20%;
}
button{
width:15%;
height:10%;
text-align:left;
background-color:#9dc88d;
border:0px;
padding-left:2px;
font-size:17px;
border-radius:4px;
position:relative;
color:white;
opacity:0.8;
}
.p1{
font-size:40px;
font-family:italic;
color:white;
word-spacing:20px;
padding-top:7px;
}
.p2{
color:white;
padding-top:10px;
font-size:13px;
}
.box{
display:flex;
}
.box1{
position:relative;
top:50px;
width:40%;
height:40%;
background-color:white;
padding-left:20px;
}
h5{
color:grey;
padding-top:30px;
word-spacing:3px;
}
p{
padding-top:12px;
font-size:10px;
}
.pp{
color:grey;
font-size:11px;
}
.box2{
position:relative;
left:10px;
padding-left:5px;
position:relative;
top:50px;
width:40%;
height:40%;
background-color:white;
padding-left:20px;
padding-bottom:50px;
}
.moob h3{
position:relative;
}